{# app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
{# meta #}
        <meta http-equiv="Content-Type" content="text/html; charset={% if _charset is defined %}{{ _charset }}{% else %}utf-8{% endif %}"/>
        <meta name="robots" content="noindex,nofollow" />
        <meta charset="{% if _charset is defined %}{{ _charset }}{% else %}UTF-8{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
{# title #}
        <title>{% block title %}Crassat Site{% endblock %}</title>
{# icon #}
{% block favicon %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% endblock %}

{# stylesheets #}
{% stylesheets '@base_css' filter='cssrewrite,?yui_css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
{% endstylesheets %}
{% block stylesheets %}{% endblock %}

{# extension #}
{% block head %}{% endblock %}
    </head>

{# body #}
    <body data-spy="scroll" data-target=".navbar">
        {% block body %}
            It is the main body block from ::base.html.twig
        {% endblock %}
    </body>

{# javascripts #}
{% block javascripts %}{% endblock %}

</html>