@media (min-width: 979px) {
    body {
        padding-top: 60px;
    }
}
@media (max-width: 767px) {
    #languageSkills .span5 {
        float: left;
    }
}

.img-circle {
    border-radius: 6px;
}

#identity .label {
    white-space: normal;
    padding: 10px;
    line-height: 15px;
}

.linkimage {
    text-decoration: none;
}

dl.timeline {
    border-left: 2px solid #CCCCCC;
}
dl.timeline dt {
    background: url(../../bundles/nbscv/img/timeline_century_tick.gif) no-repeat scroll left center transparent;
    padding-left: 20px;
    margin-bottom: 5px;
}
dl.timeline dd {
    margin-bottom: 10px;
}