{# Nbs/Bundle/CVBundle/Resources/views/contact.html.twig #}

{% extends "::base.html.twig" %}

{# body #}
{% block body %}
    <div class="container">
    {% block contactbody %}
    {% endblock %}
    </div>
{% endblock %}