{# src/Nbs/Bundle/CVBundle/Resources/views/Default/index.html.tiwg #}

{% extends "NimbusletruandCurriculumVitaeBundle:CurriculumVitae:OryzoneBoilerplate.html.twig" %}

{% trans_default_domain 'NbsCVBundle' %}

{% block body_container_main %}
{{ parent() }}
{# Contact Me button #}
<a href="{{ path('nbs_cv_contact') }}" class="btn btn-default btn-xs" style="position: fixed; top: 50px; right: 0; z-index: 52;">
    {{ 'Nbs_contact.contact_button'|trans }}
</a>
{% endblock %}